<script type='text/javascript'>
$(document).ready(function() {
  function handleDragStart(e) {
    this.style.opacity = '0.4';

    e.dataTransfer.effectAllowed = 'move';
    e.dataTransfer.setData('text/html', this.innerHTML);
  }

  function handleDragOver(e) {
    if (e.preventDefault) {
      e.preventDefault(); // Necessary. Allows us to drop.
    }

    e.dataTransfer.dropEffect = 'move';

    return false;
  }

  function handleDragEnter(e) {
    $(this).addClass('over');
  }

  function handleDragLeave(e) {
    $(this).removeClass('over');
  }

  function handleDrop(e) {
    if (e.stopPropagation) {
      e.stopPropagation(); // stops the browser from redirecting.
    }

    var lead_types = new Object();
    lead_types['hot-icon.png'] = 'HOT';
    lead_types['neutral-icon.png'] = 'NEUTRAL';
    lead_types['cold-icon.png'] = 'COLD';

    this.innerHTML = e.dataTransfer.getData('text/html');
    var transferredIcon = getIcon(e.dataTransfer.getData('text/html'));
    $('#contact_lead_type').val(lead_types[transferredIcon]);

    return false;
  }

  function getIcon(data) {
    var image_src = /(hot-icon\.png|neutral-icon\.png|cold-icon\.png)/i.exec(data);
    return image_src[0];
  }

  function handleDragEnd(e) {
    [].forEach.call(cols, function (col) {
      $(col).removeClass('over');
    });
  }

  var cols = document.querySelectorAll('#columns .column');
  [].forEach.call(cols, function(col) {
      col.addEventListener('dragstart', handleDragStart, false);
  });

  var drop_targets = document.querySelectorAll('#drop_target');
  [].forEach.call(drop_targets, function(target) {
    target.addEventListener('dragenter' , handleDragEnter , false);
    target.addEventListener('dragover'  , handleDragOver  , false);
    target.addEventListener('dragleave' , handleDragLeave , false);
    target.addEventListener('drop'      , handleDrop      , false);
    target.addEventListener('dragend'   , handleDragEnd   , false);
  });
});
</script>
<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :linkedin_profile %><br />
    <%= f.text_field :linkedin_profile %> <%= link_to 'View', 'linkein_profile' %>
  </div>
  <div id="columns">
    <%= image_tag 'hot-icon.png'     , :size => '23x23' , 'draggable' => true %>
    <%= image_tag 'neutral-icon.png' , :size => '23x23' , 'draggable' => true %>
    <%= image_tag 'cold-icon.png'    , :size => '23x23' , 'draggable' => true %>
  </div>
  <div class="field">
    <%= f.label :lead_type %><br />
    <div id="drop_target">
      <%= image_tag lead_type_icon(@contact.lead_type), :size => '23x23' %>
    </div>
    <%= f.hidden_field :lead_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= link_to_function 'Cancel', 'window.close();' %>
<% end %>
