<% lead_types = { 'HOT' => 'hot-icon.png',
                  'COLD' => 'cold-icon.png',
                  'NEUTRAL' => 'neutral-icon.png' } %>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>LinkedIn</th>
    <th>Lead type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.linkedin_profile %></td>
    <td><%= image_tag lead_types[contact.lead_type], :size => '13x13' %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
