<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contact.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Linkedin profile:</b>
  <%= @contact.linkedin_profile %>
</p>

<p>
  <b>Lead type:</b>
  <%= image_tag lead_type_icon(@contact.lead_type), :size => '13x13' %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
