<div id='login_dialog' title='Login'>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  <br />
  <%= form_tag sessions_path, :remote => true do %>
    <div class="field">
      <%= label_tag :username %>
      <%= text_field_tag :username, params[:username] %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Log in", :id => 'login_button' %> or <%= link_to 'Cancel', '#', :id => 'cancel_login' %></div>
  <% end %>
</div>
