<!DOCTYPE html>
<html>
<head>
  <title>DemoApp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <%= link_to 'Logout', logout_path %>
  <% else %>
    <a href='#' id='show_login_dialog'>Login</a>
  <% end %>

  <%= yield %>

</body>
</html>
