<!DOCTYPE html>
<html>
<head>
  <title>Telerik Customer Relations Management System</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <h1>Telerik</h1>
    <div id="top-menu">
      <%= link_to 'Home', root_path %> |
      <%= link_to 'Help', help_path %> |
      <%= render :partial => 'sessions/login' %>
    </div>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <% if not current_user %>
    <%= render :partial => 'sessions/form' %>
  <% end %>

</body>
</html>
